<h1>Questions</h1>

<% if @questions.any? %>
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.user_question, question_path(question) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no questions yet.</p>
<% end %>


<p><%= link_to "Create new question", new_question_path %></p>
